.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bank1 {
   display: none;
  }
  .bank2 {
    /* width: 100px;
    height: 100px;*/
   display: none;

  }
  .bank3 {
   display: none;
    
  }
  .atm_select_header {
  margin-bottom: 8rem;
  text-align: center;
  text-transform: uppercase;
}
.atm_select_header h2 {
  font-size: 3rem;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  /* color: #333333; */
}
.glazing_block {
  display: inline-block;
}
.glazing_block img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  cursor: pointer;
}
.glazing_block a {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #656b6f;
  &:focus {
				text-decoration: none;
				color: #454545;
	}
}
.glazing_block a:hover {
  cursor: pointer;
}
.popup,
.bank_calc{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.bank_calc .bank_calc_content {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background-color: #ffffff;
  /* background-image: url(../img/1.png); */
}
.popup_content,
.bank_calc_content_value {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background-color: #ffffff;
}

.bank_calc_content_value .form-control {
  width: 10%;
}

.bank_calc_content h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.bank_calc_content h3 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.bank_calc_content_value .cassets_icons_wraper {
  margin-bottom: 1rem;
  display: flex;
}
.bank_calc_content_value .cassets_icons_wraper img {
  width: 25%;
}

.bank_calc_content  .cassets_icons_wraper {
  margin-bottom: 1rem;
}
.bank_calc_content .cassets_icons_wraper img {
  width: 10%;
}
.bank_calc_button {
  padding: 1rem 5rem;
  color: #454545;
  background-color: #87CEFA;
}

.bank_calc_content_number .form-control {
  width: 25%;
}

.bank_calc_2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.bank_calc_2 .bank_calc_content_value {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70rem;
  background-color: #ffffff;
}

.bank_calc_3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

.bank_calc_content_number {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40rem;
  background-color: #ffffff;
}


.bank_calc_content_number .cassets_icons {
  display: flex;
}
.bank_calc_content_number .cassets_icons img {
  width: 100%;
}
.form-number {
  width: 15%;
}

/* Styles for 4rd page */

.bank_calc_4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.bank_calc_content_condition {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50rem;
  background-color: #ffffff;

}
.bank_calc_content_condition .cassets_icons {
    display: flex;
}

.bank_calc_content_condition .cassets_icons img {
  width: 25%;
}
.bank_calc_content_condition .form-control {
  width: 25%;
}

/* Styles for 5th page */
.bank_calc_5 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.bank_calc_content_calculating {
  position: fixed;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50rem;
  background-color: #ffffff;
}

.popup_close,
.bank_close,
.bank_calc_close,
.popup_calc_end_close {
  position: absolute;
  top: -2.2rem;
  right: -5rem;
  font-size: 4rem;
  color: #ffffff;
  border: none;
  background: transparent;
}
/* Styles for 6th page */
.bank_calc_6 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .bank_calc_content_calculating {
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80rem;
    background-color: #ffffff;
  }
  .bank_calc_6 .cassets_icons {
    display: flex;
}

.bank_calc_6 .cassets_icons img {
  width: 25%;
}
.bank_calc_6 .form-control {
  width: 25%;
}



         @font-face {
          font-family:'Century Gothic';
          src: url('fonts/gothic/Century Gothic.eot');
          src: url('fonts/gothic/Century Gothic.eot?#iefix') format('embedded-opentype'),
          url('fonts/gothic/Century Gothic.woff2') format('woff2'),
          url('fonts/gothic/Century Gothic.woff') format('woff'),
          url('fonts/gothic/Century Gothic.svg#Century Gothic') format('svg');
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          unicode-range: U+0020-F003;
      }
      
      @font-face {
          font-family:'Century Gothic Bold';
          src: url('fonts/gothic/Century Gothic Bold.eot');
          src: url('fonts/gothic/Century Gothic Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/gothic/Century Gothic Bold.woff2') format('woff2'),
          url('fonts/gothic/Century Gothic Bold.woff') format('woff'),
          url('fonts/gothic/Century Gothic Bold.svg#Century Gothic Bold') format('svg');
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          unicode-range: U+0020-F003;
      }
      
      @font-face {
          font-family:'Century Gothic Italic';
          src: url('fonts/gothic/Century Gothic Bold Italic.eot');
          src: url('fonts/gothic/Century Gothic Bold Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/gothic/Century Gothic Bold Italic.woff2') format('woff2'),
          url('fonts/gothic/Century Gothic Bold Italic.woff') format('woff'),
          url('fonts/gothic/Century Gothic Bold Italic.svg#Century Gothic Bold Italic') format('svg');
          font-weight: 700;
          font-style: italic;
          font-stretch: normal;
          unicode-range: U+0020-F003;
      }
      
      @font-face {
          font-family:'Century Gothic Bold Italic';
          src: url('fonts/gothic/Century Gothic Italic.eot');
          src: url('fonts/gothic/Century Gothic Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/gothic/Century Gothic Italic.woff2') format('woff2'),
          url('fonts/gothic/Century Gothic Italic.woff') format('woff'),
          url('fonts/gothic/Century Gothic Italic.svg#Century Gothic Italic') format('svg');
          font-weight: 400;
          font-style: italic;
          font-stretch: normal;
          unicode-range: U+0020-F003;
      }
      
      @font-face {
          font-family:'Corbel';
          src: url('fonts/corbel/Corbel.eot');
          src: url('fonts/corbel/Corbel.eot?#iefix') format('embedded-opentype'),
          url('fonts/corbel/Corbel.woff2') format('woff2'),
          url('fonts/corbel/Corbel.woff') format('woff'),
          url('fonts/corbel/Corbel.svg#Corbel') format('svg');
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          unicode-range: U+0020-2074;
      }
      
      @font-face {
          font-family:'Myriad Pro';
          src: url('fonts/myriad/MyriadPro-Regular.eot');
          src: url('fonts/myriad/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/myriad/MyriadPro-Regular.woff2') format('woff2'),
          url('fonts/myriad/MyriadPro-Regular.woff') format('woff'),
          url('fonts/myriad/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          unicode-range: U+0020-04D9;
      }
      
      .fontcgn{
          font-family: 'Century Gothic';
      }
      .fontcgb{
          font-family: 'Century Gothic Bold';
      }
      .fontcgi{
          font-family: 'Century Gothic Italic';
      }
      .fontcgbi{
          font-family: 'Century Gothic Bold Italic';
      }
      .fontv{
          font-family: Verdana, Arial, Helvetica, sans-serif;
      }
      .fontc{
          font-family: Corbel;
      }
      .fontm{
          font-family: 'Myriad Pro';
      }
      
      #company-name{
          white-space: nowrap;
      }
      
      article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
        display: block;
      }
      body {
        font: 12px/18px 'Century Gothic', Verdana, sans-serif;
          color:#656b6f;
          z-index:1;
      }
      .wrapper {
        max-width: 1200px;
          margin:0 auto;
          z-index:2;
          position: relative;
      }
      
      img{
          max-width:100%;
      }
      
      a.backtotop{
          display: block;
          width: 64px;
          height: 64px;
          position: fixed;
          cursor: pointer;cursor: hand;
          background: transparent url("img/backtotop.png") center center no-repeat;
          background-size: 100% 100%;
          z-index: 100;
          bottom:18px;
          right:18px;
          -moz-transition:all .5s linear;
          -o-transition:all .5s linear;
          -webkit-transition:all .5s linear;
          transition:all .5s linear;
      }
      a.init-top{
          position: fixed;
          width: 0;
          height: 0;
          top:0;
          left:0;
      }
      
      /* Header
      -----------------------------------------------------------------------------*/
      .header {
        height: 78px;
          background-color: #60829e;
          overflow: hidden;
          z-index:20;
      }
      .header h1{
          color: #fff;
          font-size: 16px;
          white-space: nowrap;
          padding-left: 132px;
          line-height: 16px;
          text-transform: uppercase;
          padding-top: 31px;
      }
      
      .header nav{
          z-index: 30;
      }
      .header .menu{
          padding: 31px 100px 0 0;
      }
      .header .menu li a{
          padding: 0 0 8px 0;
          letter-spacing: 2px;
          font-size: 12px;
          line-height: 10px;
          cursor: pointer;cursor: hand;
      }
      .header .menu a:hover, .header .menu a:focus, .header .menu a:active{
          color: #fff;
      }
      .header .menu li{
          margin-left: 8px;
          margin-right: 8px;
          padding-left: 0;
          padding-right: 0;
      }
      .header .menu li:hover{
          border-bottom: 1px solid #fff;
      }
      
      
      
      /* Middle
      -----------------------------------------------------------------------------*/
      .content {
        padding: 18px 0 0 0;
          z-index:10;
      }
      .content h1, .content h2{
          text-transform: uppercase;
          line-height: normal;
      }
      .content h1{
          color:#3b3d40;
          font-size: 52px;
      }
      .content h2{
          color:#656b6f;
          font-size: 36px;
      }
      .content #teaser{
          border-top: 1px solid #9ea8b8;
          position: relative;
          color: #fff;
      }
      .content #teaser img.tbg{
          display: block;
          width: 100%;
          height: 100%;
      }
      .content #teaser .inner{
          position: absolute;
          left:0;
          top:25%;
      }
      .content #teaser .inner h1, .content #teaser .inner h2{
          color:#fff;
      }
      .content #teaser .inner h1{
          line-height: 50px;
          font-size: 36px;
          background-color: rgba(61,109,134,.75);
          padding: 12px 24px 12px 112px;
      }
      .content #teaser .inner h2{
          font-size: 24px;
          line-height: 26px;
          padding: 12px 24px 12px 136px;
      }
      .content #teaser .inner h2 ul li{
          position: relative;
      }
      .content #teaser .inner h2 ul li:before{
          content:'\2013';
          display: inline-block;
          position: absolute;
          top:0;
          left:-24px;
          font-weight: bold;
          line-height: 32px;
      }
      
      .content #products{
          background: #8297a3;
          padding: 72px 0;
          color: #fff;
      }
      .content #products .orbit .orbit-caption{
          background-color: transparent;
      }
      .content #products > h1{
          color: #fff;
          margin-bottom: 54px;
      }
      .content #products .description{
          padding-right: 42px;
      }
      .content #products .description img{
          display: block;
          max-width: 100%;
          margin-bottom: 36px;
      }
      .content #products .description h1{
          font-size: 14px;
          line-height: normal;
          color: #fff;
          border-top: 1px solid #a8b6bf;
          padding-top: 16px;
          letter-spacing: 1px;
      }
      .content #products .description p{
          font-size: 14px;
          line-height: normal;
      }
          .content #products .functions{
              padding-left: 42px;
          }
      .content #products .functions ul li{
          position: relative;
          color: #fff;
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 12px;
          text-indent:24px;
      }
      .content #products .functions ul li:before{
          content:'\2013';
          display: inline-block;
          position: absolute;
          top:0;
          left:-24px;
          font-weight: bold;
          line-height: 28px;
      }
      .orbit-previous, .orbit-next{
          cursor:pointer;cursor: hand;
          top:40%;
      }
      .orbit-previous{
          margin-left: 32px;
      }
      .orbit-next{
          margin-right: 32px;
      }
      .orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
          background: none;
      }
      
      .content #company h1{
          margin-top: 64px;
      }
      .content #company header h2{
          line-height: 32px;
          margin-top: 12px;
          margin-bottom: 0;
      }
      .content #company header h2 span{
          font-size: 24px;
          text-transform: lowercase;
      }
      .content #company header p{
          font-size: 18px;
      }
      .content #company .list{
          margin-top: 72px;
      }
      .content #company .list .item img, .content #service .list .item img, .content #partners .list .item img{
          display: block;
      }
      .content #company .list .item img{
          margin-bottom: 18px;
      }
      .content #company .list .item h2{
          text-transform: lowercase;
          font-size: 24px;
      }
      .content #company .list .item h2 span{
          text-transform: uppercase;
          font-size: 48px;
      }
      .content #company .list .item p, .content #service .list .item p{
          padding: 0 24px;
      }
      
      .content #service{
          margin-top: 64px;
      }
      .content #service header{
          margin-bottom: 32px;
          padding-top: 36px;
      }
      .content #service .button{
          color: #fff;
          font-size: 12px;
          text-transform: lowercase;
          height: 45px;
          line-height: 45px;
          padding:0 42px
      }
      .content #service .list .item{
          padding: 0 12px;
      }
      .content #service .list .item img{
          margin-bottom: 12px;
      }
      
      .content #partners{
          margin-top: 164px;
      }
      .content #partners header h1{
          color: #456578;
          padding-top: 36px;
      }
      .content #partners .list .item{
          padding: 0 18px 18px 18px;
      }
      .content #partners .list .item img{
          margin-bottom: 42px;
      }
      .content #partners .list .item h2{
          font-size: 14px;
          line-height: normal;
      }
      
      .content #contact > ymaps > ymaps > ymaps > ymaps ymaps:nth-child(4) > ymaps ymaps{
          display: none !important;
      }
      
      .content #contact{
          position: relative;
          margin-top: 110px;
          color: #fff;
      }
      .content #contact .info{
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          background-color: rgba(69,101,120,.7);
      }
      .content #contact .info h1{
          color: #fff;
          margin-top: 110px;
      }
      .content #contact .info .vcard{
          font-size: 24px;
          line-height: normal;
          padding-bottom: 18px;
      }
      .content #contact .info .vcard .adr{
          margin-bottom: 24px;
      }
      .content #contact .info .vcard .fancy{
          background-color: rgba(255,255,255,.15);
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          height: 45px;
          line-height: 45px;
          padding: 0 18px;
          margin-bottom: 18px;
      }
      .content #contact .info .vcard .fancy > div{
          height: 45px;
      }
      .content #contact .info .vcard .fancy span{
          display: inline-block;
          font-size: 14px;
          vertical-align: top;
      }
      
      
      
      
      /* Footer
      -----------------------------------------------------------------------------*/
      .footer {
        margin: 0 auto;
        height: 150px;
        position: relative;
          max-width: 1200px;
          background-color: #456578;
          overflow: hidden;
          color: #8d9da8;
      }
      .footer h1{
          color: #fff;
          font-size: 16px;
          line-height: 105px;
          letter-spacing: 2px;
          margin-left: 18px;
      }
      footer .vcard{
          padding: 42px 0 0 18px;
          font-size: 16px;
      }
      footer .vcard .adr{
          line-height: normal;
          margin-bottom: 12px;
      }
      footer .vcard a{
          color: #8d9da8;
      }
      footer .copy{
          font-size: 16px;
          line-height: normal;
          padding-top: 100px;
      }